img{
    height: 300px;
    display: block;
    margin: auto;
}

body{
    font-family: 'Didact Gothic', sans-serif;
}

form{
    font-size: 20px;
}

h1{
    text-align: center;
}
form{
    text-align: center;
}
div{
    text-align: center;
}

body{
    background-color:rgb(33, 143, 119, 0.4);
}

div{
    background-color: rgba(112, 224, 61);
}
